:root {
    --color-yellow: #FDFFD1;
    --color-blue: #0A23FB;
}

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Tilde', sans-serif;
}
main {
    transition: .25s;
}
main.loaded {
    opacity: 1 !important;
}

button[type="button"] {
    appearance: none;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
}

/* ui */
header.main,
.container-buttons {
    height: 0;
}

.logo {
    position: fixed;
    top: 6rem;
    left: 50%;
    margin-left: -100px;
    z-index: 20;

    text-align: center;
}
.logo img {
    width: 200px;
}

.container-buttons > * {
    z-index: 300;
}
.container-buttons img {
    max-width: 32px;
    cursor: pointer;
    opacity: 1;
    transition: .125s;
}

.nav-button {
    position: fixed;
    top: 6rem;
    right: 2rem;
}
.nav-button > * {
    position: absolute;
    right: 0;
}
.nav-button .nav-open {
    opacity: 0;
}
.nav-button.open .nav-closed {
    opacity: 0;
}
.nav-button.open .nav-open {
    opacity: 1;
}

.shuffle {
    position: fixed;
    top: 6rem;
    left: 2rem;
}
.page-down {
    position: fixed;
    top: calc(6rem + 60px);
    left: 2rem;
}

/* ui: index */
.container-projects-list,
.container-project {
    max-width: 960px;
    margin: 0 auto;
}
.container-project-preview {
    margin-bottom: 8rem;
}
.container-project .video,
.container-project .text {
    margin-bottom: 2rem;
}

.image-project-preview img,
.image-project-impression img {
    max-width: 100%;
    margin-bottom: 1rem;

    opacity: 1;
    transition: opacity .25s;
}

.container-projects-masonry {
    background-color: var(--color-blue);
    position: relative;
}

.container-projects-masonry .container-project-preview {
    position: absolute;
    margin: 0;
    padding: 0;
}
.image-project-preview img.disappeared {
    opacity: 0;
}

/* ui: page */
.container-project-impressions {
    display: flex;
    gap: 10px;

    max-width: 960px;
    margin: 6rem auto;
}
.container-project-impressions > * {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
}

.container-project-impressions img {
    width: 100%;
    cursor: pointer;
}
p + .image-project-impression {
    margin-top: 4rem;
}
.image-project-impression {
    margin-bottom: 2rem;
}
.show-more {
    display: none;
    width: 100%;
    padding: 1rem !important;
    text-align: center;
}
.show-more img {
    width: 32px;
}

main {
    padding: calc(12rem + 100px) 2rem 0;
}

footer {
    display: flex;
    flex-direction: row;
    padding: 2rem 2rem 3rem;
    justify-content: space-between;
}
footer > * {
    text-decoration: none;
    font-weight: bold;
}
footer > *:hover {
    text-decoration: underline;
}

/* typo */
body, a {
    color: var(--color-blue);
}

h1, h2, h3 {
    hyphens: auto;
    hyphenate-limit-chars: auto 5;
    hyphenate-limit-lines: 2;
    -webkit-hyphens: auto;
    -webkit-hyphenate-limit-chars: auto 5;
    -webkit-hyphenate-limit-lines: 2;
    -ms-hyphens: auto;
    -ms-hyphenate-limit-chars: auto 5;
    -ms-hyphenate-limit-lines: 2;
}

.container-project-preview a {
    text-decoration: none;
}
.container-project-preview p,
.container-project-preview h2 {
    margin: 0 0 1rem;
}
.container-project-preview p:first-letter {
    text-transform: capitalize;
}

.container-project h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* navigation */
nav {
    position: fixed;
    padding: 0 2rem;
    top: calc(13rem + 100px);
    z-index: 20;
}
nav .floating-wrapper {
    position: fixed;
    display: block;
    width: 100%;
    max-width: calc(100% - 4rem);
    z-index: 100;
}
nav ul {
    padding: 0;
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    max-height: 0;
    overflow: hidden;

    transition: all .25s;
}
nav ul.open {
    max-height: 1000px;
}
nav li {
    list-style: none;
    border-top: 2px solid var(--color-blue);
    padding-left: 35%;
}
nav li:last-child {
    border-bottom: 2px solid var(--color-blue);
}
nav a {
    display: block;
    padding: 8px 0;
    font-size: 2rem;
    text-decoration: none;

    position: relative;
    top: 0;
    transition: all .25s;
}
nav li:hover a {
    top: -2px;
}

/* projects */
.container-projects-masonry {
    max-width: 1700px;
    margin: 1rem auto;
}
.container-projects-masonry:after {
    content: "";
    display: block;
    background: white;
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
    height: 100%;
    z-index: 200;
}
.container-projects-masonry .image-project-preview img {
    display: block;
    margin-bottom: 0;
}
.grid-item {
    display: inline-block;
    width: 33%;
    margin-bottom: 5px;
}
@media (max-width: 1280px) {
    .grid-item {
        width: 49.5%;
    }
    nav li {
        padding-left: 2%;
    }
}
@media (max-width: 768px) {

    .container-projects-masonry:after {
        content: none;
    }
    .grid-item {
        width: 100%;
    }
}

/* 

    Mobile Styles

*/

@media (max-width: 768px) {
    main {
        padding: calc(13rem + 100px) 2rem 0;
    }
    .logo {
        width: 100%;
        max-height: 240px;
        position: static;
        display: block;
        margin-left: 0;
        padding: 2rem 0 3rem;
    }
    .container-buttons {
        display: flex;
        width: 100%;
        padding: 0 2rem;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .container-buttons > * {
        position: relative;
        padding: 0;
        margin: 0;
        top: auto;
        left: auto;
        right: auto;
        transform: none !important;
    }
    nav ul {
        position: relative;
        top: 15px;
    }
    nav ul.open {
        padding: 0 0 2rem;
    }
    .shuffle {
        margin-bottom: 0;
        transform: translateX(-50%);
    }

    .container-project-preview {
        margin-bottom: 1rem;
    }
    .container-project-impressions,
    .project-lead {
        display: none;
    }

    .image-project-impression {
        margin-bottom: 1rem;
    }

    .show-more {
        display: block;
    }
    .container-project .text {
        display: none;
    }
}
